<ng-container>
    <a [routerLink]="'/'+healthFacilityName+'/auth/login'" class="btn btn-light-primary font-weight-bold font-size-h6 mb-5">{{"GoBack" | translate}}</a>
    <div class="card card-custom bgi-no-repeat gutter-b"
         style="
        height: 175px;
        background-color: #4ab58e;
        background-position: calc(100% + 1rem) bottom;
        background-size: 25% auto;
        background-image: url(assets/media/svg/humans/custom-1.svg);
      ">
        <!--begin::Body-->
        <div class="card-body d-flex align-items-center">
            <div class="py-2">
                <h3 class="text-white font-weight-bolder mb-3">{{"EmailIsCorrect"|translate}}</h3>
                <p class="text-white font-size-lg">
                    {{"MessageWithRecoveryInstructionHasBeenSent"|translate}}
                </p>
                <a (click)="resendCode()"
                   class="swal2-confirm btn font-weight-bold btn-light-primary">
                    {{"ResendTheCode"|translate}}
                </a>
            </div>
        </div>
        <!--end::Body-->
    </div>
</ng-container>

<code-input [isCodeHidden]="false"
            [codeLength]="6"
            (codeCompleted)="onCodeCompleted($event)">
</code-input>

<!-- begin::Alert error-->
<ng-container *ngIf="errorState">
    <div class="my-10 alert alert-custom alert-light-danger alert-dismissible">
        <div class="alert-text">{{"TheVerifyCodeIsIncorrect"|translate}}</div>
    </div>
</ng-container>
<!-- end::Alert error-->