<div class="login-form login-forgot">
    <!--begin::Form-->
    <form class="form fv-plugins-bootstrap fv-plugins-framework"
          novalidate="novalidate"
          [formGroup]="forgotPasswordForm"
          (ngSubmit)="submit()"
          id="kt_login_forgot_form"
          [ngStyle]="{
      display: errorState === errorStates.NoError ? 'none' : 'block'
    }">
        <!--begin::Title-->
        <div class="pb-13 pt-lg-0 pt-5">
            <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
                {{"ForgottenPassword"|translate}}
            </h3>
            <p class="text-muted font-weight-bold font-size-h4">
                {{"EnterYourEmailOrPhoneToResetYourPassword"|translate}}
            </p>
        </div>
        <!--end::Title-->
        <!-- begin::Alert error-->
        <ng-container *ngIf="errorState === errorStates.HasError">
            <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
                <div class="alert-text" *ngIf="isLoginWithPhone">{{"ThePhoneNumberIsIncorrect" | translate}}</div>
                <div class="alert-text" *ngIf="!isLoginWithPhone">{{"TheEmailNumberIsIncorrect" | translate}}</div>
            </div>
        </ng-container>
        <!-- end::Alert error-->
        <!--begin::Form group-->
        <div class="form-group fv-plugins-icon-container has-danger" *ngIf="!isLoginWithPhone">
            <div class="d-flex justify-content-between mt-n5">
                <label class="font-size-h6 font-weight-bolder text-dark pt-5">{{"Email" | translate}}</label>
                <a [routerLink]="[]" class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5" id="kt_login_forgot" (click)="toggleLoginWithPhone()"> {{"ContinueWithPhone" | translate}} </a>
            </div>
            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                   type="email"
                   formControlName="email"
                   placeholder="Email"
                   name="email"
                   autocomplete="off"
                   [ngClass]="{'is-invalid': forgotPasswordForm.controls['email'].invalid}" />

            <ng-container [ngTemplateOutlet]="formError"
                          [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Email is required',
          control: forgotPasswordForm.controls['email']
        }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError"
                          [ngTemplateOutletContext]="{
          validation: 'email',
          message: 'Email is invalid',
          control: forgotPasswordForm.controls['email']
        }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError"
                          [ngTemplateOutletContext]="{
          validation: 'minLength',
          message: 'Email should have at least 3 symbols',
          control: forgotPasswordForm.controls['email']
        }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError"
                          [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'Email should have maximum 360 symbols',
          control: forgotPasswordForm.controls['email']
        }"></ng-container>
        </div>
        <!--end::Form group-->
        <!--begin::Form group-->
        <div class="form-group" *ngIf="isLoginWithPhone" [ngClass]="{'RTL': language.isRTL}">
            <div class="d-flex justify-content-between mt-n5">
                <label class="font-size-h6 font-weight-bolder text-dark pt-5">{{"Phone" | translate}}</label>
                <a [routerLink]="[]" class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5" id="kt_login_forgot" (click)="toggleLoginWithPhone()"> {{"ContinueWithEmail" | translate}} </a>
            </div>
            <input #phone
                   appRemoveLeadingZero
                   class="form-control form-control-solid h-auto py-7 px-6 rounded-lg phone"
                   type="tel"
                   name="phone"
                   formControlName="phone"
                   autocomplete="off"
                   [ngClass]="{'is-invalid': forgotPasswordForm.controls['phone'].invalid}"
                   [ngClass]="{'is-valid': forgotPasswordForm.controls['phone'].valid}" />
            <ng-container [ngTemplateOutlet]="formError"
                          [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Phone is required',
          control: forgotPasswordForm.controls['phone']
        }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError"
                          [ngTemplateOutletContext]="{
          validation: 'phoneValidator',
          message: forgotPasswordForm.controls['phone'].getError('phoneValidator'),
          control: forgotPasswordForm.controls['phone']
        }"></ng-container>
        </div>
        <!--end::Form group-->
        <!--begin::Form group-->
        <div class="form-group d-flex flex-wrap pb-lg-0">
            <button [disabled]="forgotPasswordForm?.invalid"
                    type="submit"
                    id="kt_login_forgot_submit"
                    class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">
                {{"Submit" | translate}}
            </button>
            <a [routerLink]="'/'+healthFacilityName+'/auth/login'"
               id="kt_login_forgot_cancel"
               class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
                {{"Cancel" | translate}}
            </a>

            <ng-container *ngIf="isLoading$ | async">
                <span class="spinner spinner-primary ml-5"></span>
            </ng-container>
        </div>
        <!--end::Form group-->
        <div></div>
    </form>
    <!--end::Form-->

</div>

<ng-template #formError
             let-control="control"
             let-message="message"
             let-validation="validation">
    <ng-container *ngIf="control?.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
            <div class="fv-help-block">
                {{ message }}
            </div>
        </div>
    </ng-container>
</ng-template>
